*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: cursive;
}
body{
   background-color: black;
}
.hello{
   height: 100hv;
   width: 100%;
   background-size: cover;
   background-position: centre;
   background-color: black;
}
nav{
   display: flex;
   align-items: centre;
   justify-content: space-between;
   padding-top: 45px;
   padding-right: 8%;
   padding-left: 8%;
}
.logo{
   color: white;
   font-size: 35px;
   letter-spacing: 1px;
   cursor: pointer;
   transition: transform .3s ;
}
.logo:hover{
   transform: scale(1.1);
}
span{
   color: red;
  
}
nav ul li{
   list-style-type: none;
   display: inline-block;
   padding: 10px 30px;
   font-size: 20px;
}
nav ul li a{
   color: white;
   text-decoration: none;

}
nav ul li a:hover{
   color: #f9004d;
   transition: 2s;
}
.btn{
   color: white;
   background-color: #f9004d ;
   text-decoration: none;
   border: 2px solid transparent;
   font-weight: bold;
   padding: 15px 15px ;
   border-radius: 30px ;
   transition: transform .4s;
   font-size: 20px;

}
.btn:hover{
   transform: scale(1.1);
}

.content{
   position: absolute;
   top: 50%;
   left: 8%;
   transform: translateY(-50%);
   /* background-color: tomato; */

}
h1{
   color: white;
   margin: 20px 0px 20px;
   font-size: 70px;
}
h3{
   color: white;
   font-size: 25px;
   margin-bottom: 50px;
   
}
h4{
   color: #9fa6b1;
   font-size: 20px;
   letter-spacing: 2px;
}
.share{
   position: absolute;
   top: 70%;
   left: 8%;
   display: flex;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: centre;
}
.share p{
   font-size: 25px;
   color: #f9004d;
   margin-right: 60px;
}
.share .social a{
   display: inline-block;
   color: white;
   margin-right: 20px;
   transition: transform  .3s;
}
.share .social a:hover{
  transform: scale(1.8);
}